<!DOCTYPE html>
<html>
  <head>
    <title>Abedayama</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_bundle_tag 'application' %>
		<%= stylesheet_bundle_tag 'style' %>
    <%= javascript_bundle_tag "#{params[:controller]}#{params[:action].capitalize}" %>
    <%= stylesheet_bundle_tag "#{params[:controller]}#{params[:action].capitalize}" %>
  </head>

  <body>
    <div id="app">
      <%= yield %>
    <div>
  </body>
</html>
